* {
    color: #ffff;
    font-family: 'Lato', sans-serif;
}

.navBar {
    display: flex;
    background-color: black;
    width: 100%;
}

.navBar-container {
    display: flex;
    flex-direction: row;
}

.navBar-container > .navBar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBar-container > .navBar-items > .navbar-items-links {
    display: flex;
    flex-direction: column;
}

.navBar-container > .navBar-items > .navbar-items-links > .navbar-items-subjects {
    display: flex;
    flex-direction: row;
}

.navBar-container > .navBar-items > .navbar-items-links > .navbar-items-subjects > p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.navBar-container > .navBar-items > .navbar-spark {
    margin-right: 100px;
    margin-left: 30px;
    margin-top: 22px;
    font-size: 20px;
}

.navBar-container > .navBar-items > .navbar-spark > p {
    color: grey;
}

.navBar-container > .navBar-items > .navbar-spark > p > .fa-chevron-down {
    color: grey;
}


.cp-logo-header img {
    height: 30px;
    background-color: transparent;
    padding: 20px;
    padding-top: 32px;
}

button {
    background-color: #35383E;
    font-size: 20px;
}

.navBar-buttons {
    margin-left: 210px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navBar-buttons > button {
    height: 50px;
    width: 120px;
    border: 4px;
    border-radius: 5%;
    margin: 10px;
}

.body-container {
    display: flex;
    background: rgb(55,58,67);
    background: linear-gradient(111deg, rgba(55,58,67,1) 0%, rgba(11,11,14,1) 90%); 
}

.body-container > .body-text {
    font-family: 'Roboto', sans-serif; 
    font-size: 28pt;
    font-weight: 100;
    padding: 40px;
    width: 100%;
    margin-right: 10px;
    margin-left: 15px;
}

.body-container > .body-text > p {
    font-family: 'Roboto', sans-serif; 
}


.body-container > .body-text > p > #body-text-resize {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 200px;
    color: rgb(129, 129, 129);
}


.body-container > .body-image {
   padding-top: 40px;
   margin-right: 0;
   margin-left: -75px;
}

#body-signup-button {
    width: 275px;
    height: 70px;
    background-color: #46CF73 !important;
    color: black;
    border: 1px;
    border-radius: 5%;
    margin-right: 10px;
    font-size: 30px;
}

#body-learnmore-button {
    width: 200px;
    height: 70px;
    background-color: black !important;
    box-shadow: none;
    border: 1px;
    border-radius: 5%;
    font-size: 30px;
}

.fa-magnifying-glass {
    color: grey;
    font-size: 20pt;
}

#searchIcon > button {
    background-color: transparent;
}

.body-footer {
    background-color: black;
    margin: 0;
    margin-top: -45pt;
    width: 100%;
    justify-content: space-evenly;
}

.body-footer > .footer-buttons > button {
    width: 370px;
    height: 70px;
    font-size: 16pt;
    margin:0;
}

.boldType {
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    font-weight: 900;
} 

.fa-chevron-down {
    color: #46CF73;
}

